@import '@fontsource/lexend/400.css';
@import '@fontsource/lexend/500.css';
@import '@fontsource/lexend/600.css';
@import '@fontsource/lexend/700.css';

@import "tailwindcss";

@theme {
  --color-primary: #2659bf;
  --color-primary-dark: #1e4696;
  --color-secondary: #d81e1e;
  --color-background: #ffffff;
  --color-surface: #ffffff;
  --color-surface-hover: #f8fafc;
  --color-text-main: #1a1a1a;
  --color-text-sub: #4b5563;

  --font-sans: 'Sarabun', sans-serif;
  --font-brand: 'Lexend', sans-serif;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-text-main);
    font-family: var(--font-sans);
  }
}

@layer utilities {
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .grid-notebook {
    background-image: linear-gradient(#f1f5f9 1px, transparent 1px), linear-gradient(90deg, #f1f5f9 1px, transparent 1px);
    background-size: 20px 20px;
  }

  .material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  }

  .fill-1 {
    font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  }
}